html,
body {
  height: 100%;
}

.title {
color: #caf0f8;
width: 100%;

}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../images/circle-scatter-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle{
border-radius: 0;
margin-bottom: -1px;
}

.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

button {
  display: flex;
  color:#caf0f8 !important;
background-color: #181d31 !important;
border: #181d31 solid 10px !important;
border-radius: 20px !important;
}

button:hover {
  background-color: #055592 !important;
  border: #055592 solid 10px !important;
}

.footer{
  display: block;
  color: #caf0f8;
  width: 100%;
  font-size: 1rem !important;
  text-align: center;
  padding: 1rem;
  margin: 0;
}